In [1]:
from river import compose
from river import tree
from river import metrics
from river import preprocessing

In [2]:
model = compose.Pipeline(
    preprocessing.StandardScaler(),
    tree.ExtremelyFastDecisionTreeClassifier()   
)

In [4]:
metric1 = metrics.Accuracy()
metric2 = metrics.Precision()
metric3 = metrics.Recall()

In [5]:
# online learning prototype for all types of models
import csv
with open('all_features.csv') as csv_file:
    reader = csv.reader(csv_file)
    next(csv_file)
    for row in reader:
        # Assuming url at index 0 and label at index 23
        x = {
            "f1" : float(row[1]),
            "f2" : float(row[2]),
            "f3" : float(row[3]),
            "f4" : float(row[4]),
            "f5" : float(row[5]),
            "f6" : float(row[6]),
            "f7" : float(row[7]),
            "f8" : float(row[8]),
            "f9" : float(row[9]),
            "f10" : float(row[10]),
            "f11" : float(row[11]),
            "f12" : float(row[12]),
            "f13" : float(row[13]),
            "f14" : float(row[14]),
            "f15" : float(row[15]),
            "f16" : float(row[16]),
            "f17" : float(row[17]),
            "f18" : float(row[18]),
            "f19" : float(row[19]),
            "f20" : float(row[20]),
            "f21" : float(row[21]),
            "f22" : float(row[22])
        }
        y = float(row[-1])
        y_pred = model.predict_one(x)
        metric1 = metric1.update(y, y_pred)
        metric2 = metric2.update(y, y_pred)
        metric3 = metric3.update(y, y_pred)
        model = model.learn_one(x, y)

In [11]:
df1.head(5)

                                                 url  duration  label
0                      http://www.currysleather.com/       240      0
1                             http://www.mcfc.co.uk/       309      0
2  https://whatsapp.blazagency.com/99e665748bd5bf...        12      1
3                       https://pwcs-co.cf/?login=do        -1      1
4               https://messagerie-llebon-coins.com/        12      1

In [12]:
df2.head(5)

,url,no of iframe tags,no of hidden elements,no. script elements,presence of meta refresh tags,no of object tag,no of urls,presence of double documents,label
0,http://www.moviem.co.uk/,0,0,11,False,0,32,0,0
1,http://www.moviem.co.uk/,0,0,11,False,0,32,0,0
2,http://www.moviem.co.uk/,0,0,11,False,0,32,0,0
3,ttp://www.irisa.fr/Gowachin/,0,0,0,False,0,25,0,0
4,http://182.16.30.221/ap/signin?openid.pape.max...,0,0,7,False,0,11,0,1

                                                 url  label
0                      http://www.currysleather.com/      0
1                             http://www.mcfc.co.uk/      0
2  https://whatsapp.blazagency.com/99e665748bd5bf...      1
3                       https://pwcs-co.cf/?login=do      1
4               https://messagerie-llebon-coins.com/      1